In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize, StandardScaler
from sklearn.utils.class_weight import compute_sample_weight
from sklearn.metrics import roc_auc_score
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier

In [40]:
data=pd.read_csv("D:\\Sem 3 - E22\\E22\\DP\\Our\\2.0\\Git\\Floor-cleaning-machine\\Code\\ML\\Floor cleaning machine ML dataset .csv")

In [41]:
data.head()

   Usf  Usl  Usr  front  left  right  back next movement
0    1    0    0      1     0      0     0             S
1    1    0    0      1     0      0     0             L
2    1    0    0      1     0      0     0             R
3    1    1    0      1     0      0     0             R
4    1    0    1      1     0      0     0             L

In [42]:
X = data.iloc[:, 0:7]

In [43]:
X

      Usf  Usl  Usr  front  left  right  back
0       1    0    0      1     0      0     0
1       1    0    0      1     0      0     0
2       1    0    0      1     0      0     0
3       1    1    0      1     0      0     0
4       1    0    1      1     0      0     0
...   ...  ...  ...    ...   ...    ...   ...
1287    0    1    0      1     0      0     0
1288    0    0    1      1     0      0     0
1289    0    1    1      0     0      0     1
1290    0    1    0      0     0      0     1
1291    0    0    1      0     0      0     1

[1292 rows x 7 columns]

In [44]:
y = data.iloc[:, 7]

In [45]:
y

0       S
1       L
2       R
3       R
4       L
       ..
1287    F
1288    F
1289    B
1290    B
1291    B
Name: next movement, Length: 1292, dtype: object

In [46]:
print('X.shape=', X.shape, 'y.shape=', y.shape)

X.shape= (1292, 7) y.shape= (1292,)

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [48]:
clf = DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

In [49]:
y_pred = clf.predict(X_test)

In [50]:
print(sklearn_pred.shape)

(97,)

In [51]:
sklearn_pred

array([1., 0., 0., 0., 1., 0., 1., 0., 1., 0., 1., 1., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0.,
       0., 0., 0., 1., 1., 0., 1., 0., 0., 1., 0., 0., 0., 1., 0., 1., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.])

In [52]:
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7837837837837838

In [54]:
# Sample input
sample_input = [[0, 0, 1, 1, 0, 0, 0]]

# Predict
y_pred = clf.predict(sample_input)

print("Predicted class:", y_pred)

Predicted class: ['F']

C:\Users\sasin\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [55]:
import onnx
from skl2onnx import convert_sklearn
from skl2onnx.common.data_types import FloatTensorType

initial_type = [('float_input', FloatTensorType([None, X.shape[1]]))]
onnx_model = convert_sklearn(clf, initial_types=initial_type)
onnx.save_model(onnx_model, 'clf.onnx')

In [56]:
import onnx

onnx_model = onnx.load("D:\\Sem 3 - E22\\E22\\DP\\Our\\2.0\\Git\\Floor-cleaning-machine\\Code\\ML\\clf.onnx")

In [58]:
!pip install onnx onnx_tf

Requirement already satisfied: onnx in c:\python312\lib\site-packages (1.16.2)
Requirement already satisfied: onnx_tf in c:\python312\lib\site-packages (1.6.0)
Requirement already satisfied: numpy>=1.20 in c:\python312\lib\site-packages (from onnx) (1.26.4)
Requirement already satisfied: protobuf>=3.20.2 in c:\python312\lib\site-packages (from onnx) (5.27.3)
Requirement already satisfied: PyYAML in c:\python312\lib\site-packages (from onnx_tf) (6.0.1)